DATABASE_URI=
PAYLOAD_SECRET=
CRON_SECRET=

PAYLOAD_CLOUD=
PAYLOAD_CLOUD_ENVIRONMENT=
PAYLOAD_CLOUD_COGNITO_USER_POOL_CLIENT_ID=
PAYLOAD_CLOUD_COGNITO_USER_POOL_ID=
PAYLOAD_CLOUD_COGNITO_IDENTITY_POOL_ID=
PAYLOAD_CLOUD_PROJECT_ID=
PAYLOAD_CLOUD_BUCKET=
PAYLOAD_CLOUD_BUCKET_REGION=

# Copy this value from 'Cognito Password' field on File Storage page
PAYLOAD_CLOUD_COGNITO_PASSWORD=

NEXT_PUBLIC_SERVER_URL=

# optional ----------
NEXT_PUBLIC_IS_LIVE=
NEXT_PUBLIC_USE_PAYLOAD_CLOUD=
UMAMI_URI=
UMAMI_WEBSITE_ID=
SHARP_IGNORE_GLOBAL_LIBVIPS=
